.main-content {
    overflow: scroll;
}

.subtable {
    font-size: 12px;
}

.detail-table {
    td:nth-child(1) {
        background-color: #eee;
        font-weight: 700;
    }
    // th:nth-child(2) {

    // }
}

input::-webkit-input-placeholder{
    color:#ddd !important;
    font-size: 12px;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#ddd !important;
    font-size: 12px;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#ddd !important;
    font-size: 12px;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color:#ddd !important;
    font-size: 12px;
}

#modal_edit {
    font-size: 12px;
    label {
        font-weight: 500;
    }
    input, select {
        font-size: 12px;
    }
}

table {
    th {
        font-size: 14px;
        // text-align: center;
    }
    td {
        font-size: 12px;
    }
}

.table-container {
    // overflow-x: scroll;
    width: 1800px;

    table {
        td {
            height: 100px;
            overflow-y: auto;
            img {
                max-height: 100%;
            }
        }
    }
}

#id_img_poster {
    max-height: 100%;
}